extends layout

block content
	h1.title Fuel Consumption
	form.consumption(name="register", action="/register", method="post")
		div.consumption-title
			span.consumption-header-label 100l
		input.consumption-input(type="text", placeholder="Kilometers", name="km")
		input.consumption-input(type="text", placeholder="Liters", name="l")
		input.consumption-input(type="text", placeholder="Date", name="d")
		input.register-button(type="submit", value="Register")

	table.history
		tr
			td 10.10.2013
			td 48km
			td 5l